/* style.css */
h1 {
    color: blue;
}

h2 {
    color: orange;
}

@keyframes example-animation {
    0% {
        opacity: 0; /* 開始時のスタイル */
    }
    100% {
        opacity: 1; /* 終了時のスタイル */
    }
}

