body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #011502;
    color: rgb(212, 31, 31);
    text-align: center;
    padding: 1em;
}

main {
    padding: 1em;
}

section {
    
    color: rgb(212, 31, 34);
    margin-bottom: 1em;
}
h2{background-color: #011502;}
p {
    color: black; /* pタグ内の文字を黒くする */
}
footer {
    background-color: #f1f1f1;
    color: #e00a0a;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

